body{
    background:white;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header{
    background-image: linear-gradient(to right, #a25b5b , #692e4c , #a25b5b);
    width:80%;
    height:100px;
    justify-content: left;
    align-self:center;
    margin-bottom: 10px;
}

div.logo {
    display:flex;
    float:left;
    font-weight: bold;
    font-size: 3em;
    font-stretch: 200%;
    padding:20px;
}

a{
    display: flex;
    float:right;
    justify-content:space-between;
    padding: 40px 40px 20px;
}

/* mouse over link */
a:hover{
    color: hotpink;
}

a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* selected link */
a:active {
    color: blue;
}